extends layout

block content
    body
        .jumbotron.jumbotron-fluid.imagen
            .container
                h1 Book saver
        nav.navbar.navbar-expand-sm.bg-dark.navbar-dark.sticky-top
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href='/form') Save book
                li.nav-item
                    a.nav-link(href='/site/#') Something
                li.nav-item
                    a.nav-link(href='/site/#') Other
        .container
            h2 Something to show
            .row
                .col-md-6
                    img(src='https://via.placeholder.com/350')
                .col-md-6
                    img(src='https://via.placeholder.com/350')
            .row
                .col-md-6
                    img(src='https://via.placeholder.com/350')
                .col-md-6
                    img(src='https://via.placeholder.com/350')
            .row
                .col-md-6
                    img(src='https://via.placeholder.com/350')
                .col-md-6
                    img(src='https://via.placeholder.com/350')
